*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(97, 97, 233);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

div{
    text-align: center;
    padding: 8px;
}

#tabela{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(228, 227, 227);
    box-shadow: 2px 2px 2px rgb(163, 161, 161);
    text-align: center;
    width: 50%;
    font-size: 15px;
    outline: none;
}

.botao{
    padding: 5px;
    color: white;
    background: rgb(97, 97, 233);
    border: 1px ;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    width: 100px;
}

.botao:hover{
    cursor: pointer;
}

input{
    padding: 4px;
    border: 1px solid;
    border-radius: 3px;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}